# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Regex.iml
# Datasource local storage ignored files
/../../../../../../../../:\Projects\Rider\Test\Regex\.idea\.idea.Regex\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
